<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Order notification</title>
</head>
<body>


<h1>Order notification</h1>
<p>
    <span th:text="${message.get('orderId')}"></span> <span th:text="${message.get('orderType')}"></span>
</p>

</body>
</html>